* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none
}

header {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
    background-image: url(screenImg.png);
    background-position: center;
    background-size: cover;
}

.sidebar{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 6%;
    padding-top: 20px;     /*размер прямо указан в фигме*/
    padding-bottom: 20px;
}

.sidebar img {
    width: 50px;/*в фигме указаны размеры, но они явно неверные - Width Hug (40px) Height Hug (160px)*/
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

nav {
    margin-right: 50px;/*указано в фигме*/
    margin-top: 1%;/*не нашла размер отступа в фигме */
    padding-right: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav a {
    color: white;
    font: circle;
    size: 16px;
    line-height: 22px;
}

.nav li {
    padding-left: 50px;/*не нахожу размеров отступа между элементами меню*/
    padding-right: 50px;
    padding-top: 20px;     /*размер прямо указан в фигме*/
    padding-bottom: 20px;
}

.to-order {
    background-color: #B59571;
}

header p {
    width: 856px;
    height: 152px;
    align-self: flex-end;
    padding-bottom: 10%;
    color: white;
    font-size: 50px;
    margin-left: 10%;   /*нет размера отсупа*/
}

footer { 
    height: 120px;/*высота задана в фигме*/
    background-color: #333333;

}

footer ol {
    display: flex;
    justify-content: space-around;
    padding-top: 37px;  /*(120-46)/2*/
    padding-bottom: 37px;
}

footer li {
    display: flex;
    align-items: center;
    color: white;
}