* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none
}

header {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
    background-image: url(screenImg.png);
    background-position: center;
    background-size: cover;
}

.sidebar {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 6%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar img {
    width: 50px;
    padding-top: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

nav {
    margin-right: 50px;
    margin-top: 1%;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;/*если свернуть окно,nav  выходит за гарницы body*/
    height: 42px;
}

.nav a {
    color: white;
    font: circle;
    size: 16px;
    line-height: 22px;
}

.to-order {
    background-color: #B59571;
}

header p {
    width: 856px;
    height: 152px;
    align-self: flex-end;
    padding-bottom: 10%;
    color: white;
    font-size: 50px;
    margin-left: 10%;
}


.about-block-wrap {
    margin-top: 403px;
    /* верно ли задавать отступ этому блоку? не будет ли то мешать повторному спользованию ?*/
    display: flex;
    justify-content: center;
}

.about-block {
    width: 1076px;
    height: 381px;
    display: flex;
    justify-content: space-between;
}

.name-block {
    width: 228px;
    height: 28px;
    display: flex;
}

.name-block h3 {
    font-weight: 700;
    size: 20px;
    line-height: 28px;
    width: 138px;
    padding-right: 30px;
    color: #333333;
}

.name-block img {
    width: 60px;
}

.title-text {
    padding-top: 108px;
    text-align: center;
    width: 196px;
    height: 231px;
    font-weight: 700;
    font-size: 64px;
    line-height: 76.8px;
    padding-bottom: 42px;
    color: #333333;
}

.base-text {
    width: 526px;
    height: 266px;
    padding-top: 115px;
    color: #333333;
}

.base-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    margin-bottom: 1em;
}

.menu-block-wrap {
    margin-top: 150px;
    /* верно ли задавать отступ этому блоку? не будет ли то мешать повторному спользованию ?*/
    display: flex;
    justify-content: center;
}

.menu-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1076px;
    height: 718px;
}

.inner-wrap {
    width: 100%;
    display: flex;
    justify-content: end;
}

.main-menu {
    width: 416px;
    height: 324px;
}

.bar-card {
    width: 416px;
    height: 324px;
    margin-left: 24px;
}

.img-frame {
    width: 416px;
    height: 240px;
    position: absolute;

}

figure {
    position: relative;
    top: 40px;
    left: 40px;
    width: 336px;
}

figcaption {
    margin-top: 24px;
}

.inner-wrap figcaption {
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner-wrap h2 {
    margin-right: 30px;
    color: black;
}

.delivery-block-wrap {
    margin-top: 150px;
    /* верно ли задавать отступ этому блоку? не будет ли то мешать повторному спользованию ?*/
    display: flex;
    justify-content: center;

}

.delivery-block-wrap .title-text{ /*верно ли так переопределять стили? сверху есть общий класс title-text, но там другая ширина блока */
    width: 306px;
    text-align: left
}
.delivery-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1076px;
    height: 458px;
}


.btn {
    height: 58px;
}
 .btn :hover {
    background-color: #D4AF37;
    color: #fff;
  }
  button:active {
    transform: translate(3px, 3px);
  }

  .btn-more-information{
    width: 163px;
    background-color: #B59571;
    border: none;
    color: white;
    margin-right: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }
  .btn-conditions{
width: 221px;
background-color: transparent;
font-weight: 700;
font-size: 20px;
line-height: 28px;
border: 1px solid rgba(51, 51, 51, 0.2);
color: #333333;
margin-right: 108px;
  }

.contacts-block-wrap {
background-color: blue;
height: 300px;


}
.contacts-block {
 

}



footer {
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: #333333;
}

footer ol {
    width: 67%;
    display: flex;
    justify-content: space-around;
    padding-top: 34px;
    padding-bottom: 39px;
}

footer li {
    display: flex;
    align-items: center;
    color: white;
}